{% load static %}
<footer class="py-3 my-4">
  <div class="container">
    <ul class="nav justify-content-center">
      <li class="nav-item"><a href="{% url 'index' %}" class="nav-link px-2 text-body-secondary">Главная</a></li>
      <li class="nav-item"><a href="{% url 'services' %}" class="nav-link px-2 text-body-secondary">Услуги</a></li>
      <li class="nav-item"><a href="{% url 'contacts' %}" class="nav-link px-2 text-body-secondary">Контакты</a></li>
    </ul>
    <hr class="w-25 border-light mx-auto">
    <p class="text-center">© 2023, nedk-it.ru</p>
  </div>
</footer>