{% load static %}
<header class="header-main px-3 py-5 p-md-5 mb-4 container rounded-4 shadow-sm">
  <div class="row align-items-center justify-content-between">
    <div class="col mb-3 mb-md-0">
      <h1 class="fs-2 text-center text-sm-start text-primary text-uppercase mb-3 mb-md-0 fw-bold">Национальная
        экспертно-<br>диагностическая компания</h1>
    </div>
    <div class="col-sm col-md-5 col-lg-3">
      <div class="fs-3 fw-semibold text-center text-sm-start mb-4 mb-md-0">ИТ-решения для вашего бизнеса</div>
      <div class="d-flex flex-column d-md-none text-center justify-content-center justify-content-lg-end">
        <a href="tel:+74997847289" class="fs-4 me-3 me-md-0"><i class="bi bi-telephone me-1"></i>+7 499 784-72-89</a>
        <a href="mailto:nedk-it@yandex.ru" class="fs-4"><i class="bi bi-envelope me-1"></i>nedk-it@yandex.ru</a>
      </div>
    </div>
  </div>
</header>