{% load static %}
<div class="modal fade" id="modalSiteNaks" tabindex="-1" aria-labelledby="modalSiteNaksLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalSiteNaksLabel">Сайт НАКС</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="carouselSiteNaks" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'img/site_naks.png' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item active">
                            <img src="{% static 'img/site_naks1.png' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/site_naks2.png' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/site_naks3.png' %}" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselSiteNaks" data-bs-slide="prev">
                        <span class="text-secondary" aria-hidden="true"><i class="bi bi-arrow-left-square-fill fs-1"></i></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselSiteNaks" data-bs-slide="next">
                        <span class="text-secondary" aria-hidden="true"><i class="bi bi-arrow-right-square-fill fs-1"></i></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>