{% load static %}
<div class="row g-4 align-content-md-stretch mb-5">
  <div class="col-md-6 col-xl-3">
    <div class="card card-main text-bg-light nav-item rounded-4">
      <img src="{% static 'img/edo_sasv_index.png' %}" class="card-img-top nav-link rounded-4 rounded-bottom-0" alt="ЭДО САСв">
      <div class="card-body">
        <h3 class="card-title fs-6 mb-4">Информационная система электронного документооборота для Системы аттестации
          сварочного производсва (ЭДО САСв)</h3>
      </div>
      <div class="card-footer">
        <a href="portfolio.html" class="btn btn-primary">Подробнее<i class="bi bi-arrow-right ms-1"></i></a>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card card-main text-bg-light nav-item rounded-4">
      <img src="{% static 'img/edo_spks_index.png' %}" class="card-img-top nav-link rounded-4 rounded-bottom-0" alt="ЭДО СПКС">
      <div class="card-body">
        <h3 class="card-title fs-6 mb-4">Информационная система электронного документооборота для Совета по
          профессиональным
          квалификациям в области сварки (ЭДО СПКС)</h3>
      </div>
      <div class="card-footer">
        <a href="portfolio.html" class="btn btn-primary">Подробнее<i class="bi bi-arrow-right ms-1"></i></a>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card card-main text-bg-light nav-item rounded-4">
      <img src="{% static 'img/site_naks_index.png' %}" class="card-img-top nav-link rounded-4 rounded-bottom-0"
        alt="Сайт СРО Ассоциация НАКС">
      <div class="card-body">
        <h3 class="card-title fs-6 mb-4">Сайт Саморегулируемой организации Ассоциация "Национальное Агентство Контроля Сварки"</h3>
      </div>
      <div class="card-footer">
        <a href="portfolio.html" class="btn btn-primary">Подробнее<i class="bi bi-arrow-right ms-1"></i></a>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card card-main text-bg-light nav-item rounded-4">
      <img src="{% static 'img/site_rsps_index.png' %}" class="card-img-top nav-link rounded-4 rounded-bottom-0"
        alt="Сайт СРО Ассоциация НАКС" style="width: 250px; margin-right:auto; margin-left:auto;">
      <div class="card-body">
        <h3 class="card-title fs-6 mb-4">Сайт Российского сварочного профессионального сообщества</h3>
      </div>
      <div class="card-footer">
        <a href="portfolio.html" class="btn btn-primary">Подробнее<i class="bi bi-arrow-right ms-1"></i></a>
      </div>
    </div>
  </div>
</div>