// подключения компонентов страницы
@import "_media";
@import "_menu";
@import "_header";
@import "_footer";
@import "_top-arrow";

html,
body {
    height: 100%;
}

body {
    // font-family: 'OpenSans', sans-serif;
    // background-image: url(../img/bg-content.png);
    // background-position: center;
    // background-repeat: no-repeat;
    // font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.fw-light {
    // font-family: 'OpenSans', sans-serif;
    font-weight: 300;
}

.fw-normal {
    // font-family: 'OpenSans', sans-serif;
    font-weight: 400;
}

.fw-semibold {
    // font-family: 'OpenSans', sans-serif;
    font-weight: 600;
}

.fw-semibold {
    // font-family: 'OpenSans', sans-serif;
    font-weight: 700;
}

.wrapper {
    display: flex !important;
    flex-direction: column !important;
    height: 100% !important;

    header {
        flex: 0 0 auto;
    }

    main {
        flex: 1 0 auto;
    }

    footer {
        flex: 0 0 auto;
    }

}

.container-main {
    @media (min-width: 1921px) {
        max-width: 1920px;
    }
}

a,
a.btn-link {
    color: #0462B1;
    text-decoration: none;

    &:hover {
        opacity: 0.8;
    }
}

a.btn-primary {
    color: #fff;
}

.pagination {
    --bs-pagination-active-bg: #0462B1;
}

.btn-primary {
    --bs-btn-bg: #0462B1;
    --bs-btn-border-color: #0462B1;
    --bs-btn-hover-bg: #0462B1;
    --bs-btn-disabled-bg: #0462B1;
    --bs-btn-disabled-border-color: #0462B1;
}

.btn-outline-primary {
    --bs-btn-color: #0462B1;
    --bs-btn-border-color: #0462B1;
    --bs-btn-hover-bg: #0462B1;
    --bs-btn-hover-border-color: #0462B1;
    --bs-btn-active-bg: #0462B1;
    --bs-btn-active-border-color: #0462B1;
    --bs-btn-disabled-color: #0462B1;
}

.btn-orange {
    --bs-btn-color: #212529 !important;
    --bs-btn-bg: #fd9843;
    --bs-btn-border-color: #fd9843;
    --bs-btn-hover-color: #212529;
    --bs-btn-hover-bg: #fd7e14;
    --bs-btn-hover-border-color: #fd7e14;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #212529;
    --bs-btn-active-bg: #fd7e14;
    --bs-btn-active-border-color: #fd7e14;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #212529;
    --bs-btn-disabled-bg: #fd9843;
    --bs-btn-disabled-border-color: #fd9843;
}

.btn-xs {
    padding: 0.125rem 0.35rem;
    font-size: 0.8rem;
    border-radius: 0.2rem;
}

.bg-orange {
    background-color: #fd9843;
}

.text-orange {
    color: #fd9843;
}

.border-orange {
    border-color: #fd9843;

}

.text-primary {
    color: #0462B1 !important;
}

.form-check-label.text-primary {
    &:hover {
        opacity: 0.8;
    }
}

.form-switch .form-check-input:checked {
    background-color: #0462B1 !important;
}

.nav-pills {
    --bs-nav-pills-border-radius: 0.375rem;
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #0462B1;
}

.input-group.disabled {
    .btn {
        display: none;
    }

    .form-control,
    .form-select {
        background-color: #e9ecef;
        opacity: 1;
        pointer-events: none;
    }
}

.bg-primary {
    background-color: #005F93;
}

.text-small {
    font-size: small;
}

.text-medium {
    font-size: medium;
}

.filter-grayscale {
    filter: grayscale(100%);

    &:hover {
        filter: none;
        transition: 0.3s;
    }
}

.card-main {
    height: 100%;
    will-change: transform;
    transition: transform 0.3s;

    img {
        filter: grayscale(75%);
        height: 100%;
        object-fit: cover;
        padding: 0;
    }

    .card-img-top {
        filter: none;
        height: 120px !important;
        object-fit: cover;
        // max-height: 120px;
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.025);

        img {
            filter: none;
            transition: 0.2s;
        }
    }

    .card-img-overlay {
        // display: flex;
        padding-left: 0;

        .card-title {
            // margin-top: auto;
            width: fit-content;
            padding: 1rem;
            background-color: rgba(0, 0, 0, 0.7);

            @media (max-width: 991px) {
                font-size: 1.25rem;
            }

        }

        .btn-lg {
            @media (max-width: 991px) {
                padding: 0.25rem 0.5rem;
                font-size: 1rem;
            }
        }
    }

    .btn {
        width: fit-content;
    }
}


.card-main.active img {
    filter: none;
}

.title-line {
    margin: 1rem 0;
    color: #0462B1 !important;
    border: 0;
    border-top: 3px solid;
    opacity: 1;
    width: 100px;
}

.text-justify {
    text-align: justify;
}

section p,
section ul {
    @media (max-width: 991px) {
        font-size: 1rem !important;
    }
}

section ul {
    font-weight: 300;
}