{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
{% include "mainapp/includes/navbar.html" %}
{% include "mainapp/includes/header.html" %}
<div class="container">
    <h1 class="page-title fs-1">{{ title }}</h1>
    <hr>
    {% include "mainapp/includes/breadcrumb.html" %}
    <div class="bg-secondary bg-gradient bg-opacity-25 p-3 p-lg-5 mb-4 rounded-4 shadow-sm">
          <section class="fs-5">
            <p>
              ООО "НЭДК" является аккредитованной ИТ-компанией на основании Решения Министерства цифрового развития, связи и массовых коммуникаций Российской Федерации о предоставлении государственной аккредитации организации, осуществляющей деятельность в области информационных технологий от 22.11.2023 № АО-20231120-1550549272-3.
            </p>
            <p>Проверить аккредитацию можно в Реестре аккредитованных ИТ-компаний путём ввода ИНН <strong>7701520353</strong>.</p>
            <a href="https://www.gosuslugi.ru/itorgs" class="btn btn-primary btn-lg" target="_blank" rel="noopener noreferrer">Проверить аккредитацию<i class="bi bi-arrow-right ms-1"></i></a>
          </section>
        </div>
        <div class="bg-light p-3 p-lg-5 mb-4 bg-body-tertiary rounded-4 shadow-sm">
          <h2 class="page-title fs-2 mb-4">Общие сведения</h2>
          <hr class="title-line mb-4 mb-lg-5">
          <section class="fs-5 mb-4">
            <ul class="list-group fw-light">
              <li class="list-group-item">
                <small class="fw-normal mr-2">Полное наименование организации:</small><br>
                <small>Общество с ограниченной ответственностью «Национальная Экспертно-Диагностическая Компания»</small>
              </li>
              <li class="list-group-item">
                <small class="fw-normal mr-2">Адрес организации в пределах места нахождения организации:</small><br>
                <small>109341, г. Москва, ул. Братиславская, д. 6, эт. 4, пом. 272</small>
              </li>
              <li class="list-group-item">
                <small class="fw-normal mr-2">Основной код Общероссийского классификатора видов экономической деятельности:</small><br>
                <small><strong>63.11</strong> Деятельность по обработке данных, предоставление услуг по размещению информации и связанная с этим деятельность</small>
              </li>
              <li class="list-group-item">
                <small class="fw-normal mr-2">ИНН:</small><br>
                <small>7701520353</small>
              </li>
              <li class="list-group-item">
                <small class="fw-normal mr-2">Телефон / E-mail:</small><br>
                <small>+7 499 784-72-89 / nedk-it@yandex.ru</small>
              </li>
            </ul>
          </section>
        </div>
        <!-- <div class="bg-light p-3 p-lg-5 mb-4 bg-body-tertiary rounded-4 shadow-sm">
          <h2 class="page-title fs-2 mb-4">Код ОКВЭД</h2>
          <hr class="title-line mb-4 mb-lg-5">
          <section class="fs-5 mb-4 mb-lg-5">
            <p>Основной код Общероссийского классификатора видов экономической деятельности:</p>
            <p class="fw-light"><strong>63.11</strong> Деятельность по обработке данных, предоставление услуг по размещению информации и связанная с этим деятельность</p>
          </section>
        </div> -->
        <div class="bg-light p-3 p-lg-5 mb-4 bg-body-tertiary rounded-4 shadow-sm">
          <h2 class="page-title fs-2 mb-4">Деятельность в области информационных технологий</h2>
          <hr class="title-line mb-4 mb-lg-5">
          <section class="fs-5 mb-4">
            <p>Коды видов деятельности в области информационных
            технологий, осуществляемых организацией, в соответствии
            с перечнем видов деятельности в области информационных технологий,
            утвержденным приказом Минцифры от 11 мая 2023 г. № 449:</p>
            <ul class="fw-light">
              <li><strong>1.01</strong> Проектирование, и (или) обследование, и (или) разработка,
                и (или) адаптация, и (или) модификация (в том числе
                локализация, кастомизация, доработка), и (или) обратное
                проектирование (реверсивный инжиниринг), и (или)
                модернизация, и (или) обновление, и (или) установка, и (или)
                интеграция, и (или) настройка, и (или) конфигурирование, и (или)
                внедрение, и (или) сопровождение, и (или) тестирование, и (или)
                испытания, и (или) техническая поддержка, и (или) эксплуатация,
                включая администрирование, а также оказание услуг (в том числе
                консультационных, услуг по обучению, экспертных услуг и иных)
                в указанных видах деятельности (далее - проектирование и (или)
                иная деятельность, а также оказание услуг), в отношении
                программ для электронных вычислительных машин (далее -
                программы для ЭВМ), и (или) баз данных (в том числе их
                обновлений и исправлений), и (или) визуальных
                пользовательских интерфейсов</li>
              <li><strong>1.05</strong> Проектирование и (или) иная деятельность, а также оказание
                услуг в отношении сайтов или страниц сайтов в информационно телекоммуникационной сети, включая информационно телекоммуникационную сеть «Интернет»</li>
              <li><strong>3.01</strong> Деятельность по созданию баз данных и информационных
                ресурсов (включая разработку концепций, структуры, состава баз
                данных), формированию и ведению баз данных (включая сбор
                данных из одного или более источников, а также ввод,
                верификацию и актуализацию данных), администрированию
                баз данных (включая обеспечение возможности доступа
                к базе данных B режиме непосредственного
                или телекоммуникационного доступа), поиску данных, их отбору
                и сортировке по запросам, предоставлению отобранных данных
                пользователям</li>
              <li><strong>9.01</strong> Деятельность по созданию, развитию и обеспечению
                функционирования порталов и (или) систем поиска
                в информационно-телекоммуникационной сети «Интернет»</li>
            </ul>
          </section>
        </div>
{% endblock %}