{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
{% include "mainapp/includes/navbar.html" %}
{% include "mainapp/includes/header.html" %}
<div class="container mb-5 bg-body-tertiary rounded-4 bg-light p-3 p-lg-5 shadow-sm">
    {% include "mainapp/includes/about.html" %}
</div>
<div class="container mb-4 bg-body-tertiary">
    <h2 id="services" class="page-title fs-1 mb-3 mb-lg-4">Услуги</h2>
    <hr class="title-line mb-4 mb-lg-5">
    {% include "mainapp/includes/services_index.html" %}
</div>
<div class="container mb-4 bg-body-tertiary">
    <h2 id="services" class="page-title fs-1 mb-3 mb-lg-4">Наши клиенты</h2>
    <hr class="title-line mb-4 mb-lg-5">
    {% include "mainapp/includes/clients.html" %}
</div>
{% endblock %}