{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
{% include "mainapp/includes/navbar.html" %}
{% include "mainapp/includes/header.html" %}
<div class="container">
    <h1 class="page-title fs-1">{{ title }}</h1>
    <hr>
    {% include "mainapp/includes/breadcrumb.html" %}
    {% for service in services %}
        <div class="bg-light p-3 p-lg-5 mb-4 bg-body-tertiary rounded-4 shadow-sm">
            <h2 class="page-title fs-2 mb-4">{{ service.title }}</h2>
            <hr class="title-line mb-4 mb-lg-5">
            <section class="fs-5 mb-4 mb-lg-5">
                {{ service.text|safe }}
            </section>
            <button class="btn btn-primary btn-lg" type="button" data-bs-toggle="modal"
                data-bs-target="#messageModal">Заказать услугу<i class="bi bi-arrow-right ms-1"></i></button>
        </div>
    {% endfor %}
    {% comment %} <div class="bg-light p-3 p-lg-5 mb-4 bg-body-tertiary rounded-4 shadow-sm">
        <h2 class="page-title fs-2 mb-4">Разработка информационных систем</h2>
        <hr class="title-line mb-4 mb-lg-5">
        <section class="fs-5 mb-4 mb-lg-5">
            <p>
                Компания успешно разрабатывает и внедряет информационные системы, позволяющие оптимизировать
                внешние и
                внутренние потоки информации, модернизировать уже существующие процессы предприятия и ускорить работу
                организации в
                целом. Мы совмещаем промышленный подход к управлению проектами и новейшие технологии проектирования
                программного
                обеспечения.
            </p>
            <p>
                Исходя из пожеланий и требований клиента, мы самостоятельно проводим оценку и планирование работ,
                разрабатываем
                техническое задание, анализируем и учитываем все спецификации. Поэтапная работа открывает перед клиентом
                возможность
                предварительного просмотра прототипа системы, а современные методы управления проектами позволяют
                вносить
                правки и
                изменения еще на старте, ускоряя процесс внедрения.
            </p>
            <p>Разработка информационных систем включает в себя следующие этапы:</p>
            <ul class="fw-light">
                <li>Сбор и обработка требований.</li>
                <li>Оценка и планирование работ.</li>
                <li>Разработка технического задания и спецификаций.</li>
                <li>Проектирование системы.</li>
                <li>Разработка интерфейсов и отчетности.</li>
                <li>Написание кода.</li>
                <li>Тестирование и контроль качества разрабатываемого приложения.</li>
                <li>Подготовка сопровождающей документации.</li>
                <li>Сдача системы в эксплуатацию.</li>
                <li>Сопровождение системы — вторая и третья линии технической поддержки.</li>
            </ul>
        </section>
        <button class="btn btn-primary btn-lg" type="button" data-bs-toggle="modal"
            data-bs-target="#messageModal">Заказать услугу<i class="bi bi-arrow-right ms-1"></i></button>
    </div>
    <div class="bg-light p-3 p-lg-5 mb-4 bg-body-tertiary rounded-4 shadow-sm">
        <h2 class="page-title fs-2 mb-4">Предоставление доступа</h2>
        <hr class="title-line mb-4 mb-lg-5">
        <section class="fs-5 mb-4 mb-lg-5">
            <p>Услуга предоставления доступа включает в себя предоставление пользователю возможности
                использовать определенные ресурсы и функции информационной системы для выполнения конкретных задач. В
                зависимости от требований и
                пожеланий заказчика, эта услуга может включать различные аспекты, такие как:</p>
            <ul class="fw-light">
                <li>Регистрация и авторизация пользователя в системе</li>
                <li>Настройка пользовательского интерфейса и функциональности системы в соответствии с потребностями
                    заказчика.</li>
                <li>Обучение пользователей работе с системой и предоставление технической поддержки.</li>
                <li>Обеспечение безопасности данных и доступа к системе, включая защиту от несанкционированного доступа
                    и
                    вирусов.</li>
                <li>Предоставление инструментов для анализа и обработки данных, хранящихся в системе.</li>
                <li>Интеграция системы с другими информационными системами заказчика или внешними источниками данных.
                </li>
                <li>Мониторинг и контроль использования ресурсов системы пользователями.</li>
                <li>Регулярное обновление и модернизация системы для обеспечения ее соответствия требованиям и
                    стандартам
                    заказчика.</li>
            </ul>
            <p>
                В целом, услуга предоставления доступа направлена на то, чтобы пользователь мог эффективно
                использовать информационную систему для достижения своих бизнес-целей и решения задач в рамках своей
                профессиональной деятельности.
            </p>
        </section>
        <button class="btn btn-primary btn-lg" type="button" data-bs-toggle="modal"
            data-bs-target="#messageModal">Заказать
            услугу<i class="bi bi-arrow-right ms-1"></i></button>
    </div>
    <div class="bg-light p-3 p-lg-5 mb-4 bg-body-tertiary rounded-4 shadow-sm">
        <h2 class="page-title fs-2 mb-4">Разработка API</h2>
        <hr class="title-line mb-4 mb-lg-5">
        <section class="fs-5 mb-4 mb-lg-5">
            <p>
                Разрабатываем программные интерфейсы для взаимодействия различных сервисов друг с другом в
                приложении или на сайте. Такой
                API необходим компании, которая желает интегрировать сторонние сервисы в свое ПО.
            </p>
            <p>
                Например, компании “А” необходимо подключить платежный сервис к своему сайту. Для успешной
                интеграции такого сервиса
                требуется разработать модуль интеграции API сайта, которое позволит платежной системе работать
                эффективно и без
                неполадок.
            </p>
            <h3 class="fs-4">Последовательность разработки модуля интеграции с внешним API</h3>
            Вся работа производится командой специалистов в несколько этапов:
            <ul class="fw-light">
                <li>
                    Анализ ситуации. Мы анализируем ваш запрос, требования к созданию Rest API, анализируем стек
                    технологий, которые могут
                    потребоваться при разработке. Это начальный этап, который необходим для определения ключевых
                    факторов интеграции.
                </li>
                <li>
                    Составление подробного технического задания. Для его создания мы привлекаем опытных
                    разработчиков, которые помогут верно
                    сформулировать требования к интеграции API. На этом этапе рассчитываются сроки и стоимость
                    работ.
                    Программирование. Здесь наши специалисты интегрируют API для сайта или приложения. Также
                    возможна разработка Rest API
                    сервиса.
                </li>
                <li>
                    Тестирование и запуск. На этом этапе мы еще раз тестируем функциональность и эффективность
                    разработки API для сервиса,
                    устраняем возможные баги. Мы тщательно следим за качеством работы, поэтому периодически
                    производим собственные проверки.
                    После тестирования запускаем продукт. При желании заказчика возможна поддержка и сопровождение
                    проекта.
                    Особенности создания API для сайта
                </li>
            </ul>
            <h3 class="fs-4">Вот несколько правил взаимодействия API с сервером:</h3>
            <ul class="fw-light">
                <li>Данные выводятся в формате XML/JSON;</li>
                <li>Новые данные концентрируются на сервере;</li>
                <li>Текущие данные постоянно обновляются новой поступившей информацией;</li>
                <li>Неактуальные данные удаляются после обновления системы.</li>
            </ul>
        </section>
        <button class="btn btn-primary btn-lg" type="button" data-bs-toggle="modal"
            data-bs-target="#messageModal">Заказать
            услугу<i class="bi bi-arrow-right ms-1"></i></button>
    </div>
    <div class="bg-light p-3 p-lg-5 mb-4 bg-body-tertiary rounded-4 shadow-sm">
        <h2 class="page-title fs-2 mb-4">Создание сайтов</h2>
        <hr class="title-line mb-4 mb-lg-5">
        <section class="fs-5 mb-4 mb-lg-5">
            <p>Мы предлагаем профессиональную помощь в разработке и реализации веб-проектов с целью достижения
                определенных бизнес-задач. В рамках данной услуги, опытные веб-разработчики, дизайнеры и маркетологи
                объединяют свои
                усилия для создания уникального и функционального сайта, который будет соответствовать вашим требованиям
                и
                предпочтениям.</p>
            <h3 class="fs-4">Создание сайта включает в себя следующие этапы:</h3>
            <ul class="fw-light">
                <li>Исследование и анализ рынка: на этом этапе специалисты изучают вашу целевую аудиторию, конкурентов и
                    тренды в вашей
                    отрасли, чтобы определить оптимальные решения для вашего бизнеса.</li>
                <li>Разработка концепции и дизайна сайта: дизайнеры разрабатывают уникальный и привлекательный дизайн,
                    который соответствует
                    вашему бренду и подчеркивает преимущества ваших товаров или услуг.</li>
                <li>Верстка и программирование сайта: веб-разработчики создают структуру сайта и интегрируют необходимые
                    функциональные
                    возможности, такие как регистрация пользователей, личный кабинет, корзина покупок и т.д.</li>
                <li>Наполнение контентом: копирайтеры и редакторы подготавливают текстовый и графический контент,
                    который
                    будет отображаться
                    на вашем сайте.</li>
                <li>Тестирование и оптимизация: перед запуском сайта проводится тщательное тестирование функциональности
                    и
                    работоспособности
                    всех элементов сайта.</li>
                <li>Запуск и продвижение сайта в интернете.</li>
            </ul>
            <p>В результате заказчик получает готовый к работе сайт, который соответствует его требованиям и целям.</p>
        </section>
        <button class="btn btn-primary btn-lg" type="button" data-bs-toggle="modal"
            data-bs-target="#messageModal">Заказать
            услугу<i class="bi bi-arrow-right ms-1"></i></button>
    </div>
    <div class="bg-light p-3 p-lg-5 mb-4 bg-body-tertiary rounded-4 shadow-sm">
        <h2 class="page-title fs-2 mb-4">Поддержка продуктов</h2>
        <hr class="title-line mb-4 mb-lg-5">
        <section class="fs-5 mb-4 mb-lg-5">
            <p>Оказываем услуги комплексного обслуживания и технической поддержки IT-продуктов. Сопровождаем и развиваем
                сайты и интернет-проекты любой сложности, на любом этапе развития. Знаем, как улучшить
                ваш интернет-ресурс, привлечь целевую аудиторию и сделать его эффективным.</p>
            <p>Поддержка продуктов — это комплекс технических работ, обеспечивающий работоспособность функциональность и
                бесперебойную
                работу web-ресурса или информационной системы. Техобслуживание включает администрирование, обновление и
                модернизацию.</p>
            <p>Администрирование и техническая поддержка избавят от периодически возникающих технических неполадок. Мы
                будем следить за тем, чтобы сайт или информационная система работали правильно и без перебоев. Доверив
                нам
                сопровождение вашего интернет-ресурса, вы
                не будете беспокоиться о том, что у вас не хватит знаний для починки сайта, или о том, что вы забыли
                продлить домен,
                хостинг или SSL-сертификат на сайте.
            </p>
            <button class="btn btn-primary btn-lg" type="button" data-bs-toggle="modal"
            data-bs-target="#messageModal">Заказать
            услугу<i class="bi bi-arrow-right ms-1"></i></button>
        </div>
    </div>
</section> {% endcomment %}
{% endblock %}